*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    background: #0bb1df23;
    background-size: cover;
    color: black;
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #0bb1df23;
}

.logo{
    font-size: 28px;
    color: aquamarine;
    font-weight: 700;
    text-decoration: none;
}